@import "../../Base/Global.scss";
@import "../../Base/Colour.scss";

/* Common xs1, xs2 mobil*/
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
    .header-01 {
        height: 120px;
        background: #c2d9fe;
        margin-bottom: 16px;


        .c-wrapper {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .c-item-01 {
                display: none;
            }

            .c-item-02 {
                svg {
                    width: 121px;
                    height: 32px;
                }
            }

            .hamburger-menu-icon {
                display: flex;
                position: absolute;
                left: 0;
                top: 20px;
            }
        }
    }
}

/* Common sm1, sm2 tablet */
@media all and (min-width: #{($mq-sm1) + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
    .header-01 {
        height: 120px;
        background: #c2d9fe;
        margin-bottom: 16px;


        .c-wrapper {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .c-item-01 {
                display: none;
            }

            .hamburger-menu-icon {
                display: flex;
                position: absolute;
                left: 0;
                top: 26px;
            }
        }
    }

}

/* Common  md, lg, xl, xxl desktop*/
@media all and (min-width: #{$mq-md + "px"}) {
    .header-01 {
        min-height: 50px;
        background: #c2d9fe;
        position: sticky;
        top: 0;
        z-index: 999;
        align-items: center;
        transition: 0.6s;

        .c-wrapper {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .c-item-02 {
                img {
                    display: block;
                    height: 100%;
                    max-height: 100%;
                    margin: auto;
                }
            }

            .hamburger-menu-icon {
                display: none;
            }
        }
    }
    .header-01.scrolled {
        align-items: center;
        position: sticky;
        height: 50px;

      }
}
